.card {
    width: 400px;
    height: 180px;

    padding: 5px;

    border: 1px solid palevioletred;
    border-radius: 10px;
}

.card h3 {
    font-size: 1rem;
}

.card .covers {
    display: flex;
    gap: 5px;

    overflow-y: auto;
    scrollbar-width: none;
}

.card img {
    height: 120px;
    border: 3px solid transparent;
    border-radius: 5px;

    transition: transform .2s ease, border-color .2s ease;

    cursor: pointer;
}

.card img:hover {
    border-color: palevioletred;
    transform: scale(0.95);
}