.card {
    width: 400px;
    height: 180px;

    padding: 5px;

    border: 1px solid palevioletred;
    border-radius: 10px;
}

.card h3 {
    font-size: 1rem;
}

.card .covers {
    display: flex;
    gap: 5px;

    overflow-y: auto;
    scrollbar-width: none;
}

.card img {
    height: 120px;

    /* background-color: antiquewhite; */
}