.navbar {
    display: flex;
    gap: 10px;
}

.navbar .link {
    padding: 15px 10px;
    border-radius: 10px;
    position: relative;

    text-decoration: none;
    color: white;

    cursor: pointer;
}

.navbar .link::after {
    content: "";
    position: absolute;

    bottom: 5px;
    left: 50%;

    width: 80%;
    height: 2px;

    background-color: blueviolet;

    transform: translateX(-50%) scaleX(0);
    transition: transform .3s ease;
}

.navbar .link:hover {
    color: blueviolet;
    background-color: #a9a9a911;
}

.navbar .link:hover::after {
    transform: translateX(-50%) scaleX(1);
}